---
import KBVE from "@l/KBVE.astro";
import Nav from "@l/Nav.astro";
import R3F from "@c/r3f/R3F.astro";
---

<KBVE title="LC-Agents.com" description="L&C">
  <div class="flex flex-grow h-[500px] min-h-screen" transition:persist="model">
    <R3F />
  </div>
</KBVE>
